:root {
    --primary:#F4DA83;
    --secondary:#BEA000;
    --whisper:#EAEAEA;
    --half-colonial-white: #EAE2BB;
    --bakers-chocolate:#4E3000;
    --raffia:#E0CDA2;
    --putty:#CBB372;
    --black:#000000;
    --white:#FFFFFF;
    --black-russian:#000029;
    --dark-gray:#A5A5A5;
    --charcoal:#424242;
    --new-midnight-Blue:#00009A;
    --tahuna-sands:#D6CDA2;
    --golden-sand:#E6C466;
    --dark-ood:#836343;
}

@font-face {
    font-family: NotoSansJP-Black;
    src: url(../css/fonts/NotoSansJP-Black.ttf);
}

@font-face {
    font-family: NotoSansJP-Bold;
    src: url(../css/fonts/NotoSansJP-Bold.ttf);
}

@font-face {
    font-family: NotoSansJP-Light;
    src: url(../css/fonts/NotoSansJP-Light.ttf);
}

@font-face {
    font-family: NotoSansJP-Regular;
    src: url(../css/fonts/NotoSansJP-Regular.ttf);
}

@font-face {
    font-family: NotoSansJP-Medium;
    src: url(../css/fonts/NotoSansJP-Medium.ttf);
}

@font-face {
    font-family: NotoSansJP-Thin;
    src: url(../css/fonts/NotoSansJP-Thin.ttf);
}

/* custom date icon css start  */
.date input::-webkit-inner-spin-button,
.date input::-webkit-clear-button {
    display: none;
}

.date input::-webkit-calendar-picker-indicator {
    background-image: url(/assets/images/calendr.png);
}

/* custom date icon css end */
.main-navbar {
    margin-left: auto;
}
#top-navbar {
    position: absolute;
    /* float: none; */
    margin-left: auto;
}
.mbile-top-nav-setting{
display: none;
}
.setting-toggle-end a:hover ,.setting-toggle-end a:active{
background: #BEA000;
color: var(--black);
opacity: 0.3;
}
.setting-toggle{
    background-color: #ffff;
    width: 76px;
    height: 32px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
}
.list-group-item-dk {
    color: var(--primary);
    font-size: 14px;
    font-family: NotoSansJP-Medium;
    text-decoration: none;
    padding: 14px 0px 14px 48px;
}

.list-group-item-dk:hover {
    color:  var(--primary);
    text-decoration: none;
}

.main-content {
    padding: 24px;
    height: 100vh;
}

.order-reg-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px var(--black);
    padding: 40px 48px 48px 48px;
}

.main-content-bg {
    background-image: url('../images/bg-img.png');
    background-position: center;
    background-size: cover;
}

.sidebar {
    background-color: #000;

}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    border: 0px;
    display: none;

}

#sidebar-wrapper .sidebar-heading {
    padding: 2.5rem 1.25rem 17px 16px;
    font-size: 16px;
    font-family: NotoSansJP-Bold;
    color: #fff;
    display: flex;
    align-items: center;
}

#sidebar-wrapper .sidebar-heading svg {
    width: 24px;
    height: 20px;
}

#sidebar-wrapper .list-group {
    width: 13.8rem;
}

.top-navbar {
    background: transparent linear-gradient(270deg, var( --bakers-chocolate) 0%, var( --raffia) 53%, var( --putty) 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: 3.5px 15px !important;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.custom-top-nav-navbar{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: right;
}
#page-content-wrapper {
    min-width: 100vw;
}

.content-h1 {
    color: #fff;
    font-size: 20px;
    font-family: NotoSansJP-Bold;
    margin-bottom: 12px;
}

.on-radio-btn {
    background-color: var(--half-colonial-white);
    color: var(--charcoal);
}

.off-radio-btn {
    background-color: var(--whisper);
    color: var(--charcoal);
}

.on-radio-btn,
.off-radio-btn {
    border: none;
    border-radius: 5px;
    padding: 0px;
    width: 56px;
    height: 30px;
    font-size: 12px;
    font-family: NotoSansJP-Medium;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.kind-radio-btn:hover {
    color: #fff;
}

.btn-check:checked+.on-radio-btn {
    color: #fff;
    background-color: var(--secondary);
}

.btn-check:checked+.off-radio-btn {
    color: #fff;
    background-color: #000;
}

.switch-btns {
    display: flex;
    width: 160px;
    justify-content: center;
    margin-right: 30px;
}

.register-label {
    font-size: 16px;
    font-family: NotoSansJP-Regular;
    width: 33%;
    display: flex;
    align-items: center;
    color: var(--black);
}

.order-reg-h2 {
    font-family: NotoSansJP-Regular;
    font-size: 16px;
    color: #000;
}

.switch-div {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.form-fields {
    width: 100%;
    display: flex;

}

.form-fields select {
    width: 219px;
    height: 37px;
    border-radius: 4px;
    border: 1px solid #0000001F;
    padding: 0px 10px;
}

.form-control {
    border: 1px solid #0000001F;
    border-radius: 4px;
    height: 37px;
    width: 219px !important;
}

.btn-submit {
    width: 98px;
    height: 42px;
    border-radius: 2px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
}

.form-fields select::-ms-expand {
    display: none;
}

.form-fields select {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em 2em 0.5em 0.5em;
    font: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, var(--secondary) 50%), linear-gradient(135deg, var(--secondary) 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
}
 input[type=radio]{
    display: none;
}
.nav-items .nav-link {
    color: #fff;
    font-family: NotoSansJP-Light;
    font-size: 12px;
    padding: 0.5rem;
}

.nav-items .nav-link:after {
    display: none;
}

.nav-items .dropdown-item i {
    color: var(--secondary);
}

.order-register-form {
    max-width: 800px;
    margin: auto;
}

/* table design */
.table-card {
    padding: 15px 0px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #00000029;
}

.table-card thead {
    background: #000;
    color: #fff;
}

.table-card .dataTables_length,
.table-card .dataTables_info {
    padding: 0px 10px;
}

.table-card .dataTables_filter {
    padding: 0px 10px;
}

.custom-table-list td:nth-child(even) {
    background-color: #F5F5F5;
}

tr:nth-child(even) {
    background-color: transparent !important;
}
.btn-rev-del{
    display: inline-flex;
    margin-left: 20px;
}
.table-card td{
    font-size: 12px;

}
.delivery-btn:hover{
    color: #fff;
    text-decoration: none;
}
.delivery-btn {
    width: 58px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
    color: #fff;
    border-radius: 2px;
    margin-right: 4px;
}
.revision-btn:hover {
    color: #fff;
    text-decoration: none;
}
.revision-btn {
    width: 58px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    border-radius: 2px;
    margin-right: 4px;
}
.complete-btn{
    background-color: #BEA000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 42px;
    border-radius: 2px;
    border:1px solid #BEA000; 
}
@media screen and (max-width: 920px) and (min-width:769px) {
    .order-reg-card {
        padding: 48px 15px;
    }

    .register-label {
        width: 45%;
        font-size: 12px;
    }

    .switch-btns {
        margin-right: 10px;
    }

    .form-fields select {
        width: 180px;
    }

    .form-control {
        width: 180px !important;
    }
}

@media (min-width: 768px) {

    #sidebar-wrapper {
        margin-left: 0;
        border-right: 4px solid;
        border-image: linear-gradient(180deg, var( --bakers-chocolate) 0%, var(--tahuna-sands) 17%, #987B3A 34%, var( --raffia) 49%,  var(--dark-ood) 73%,  var(--golden-sand) 100%) 1 100%;
        display: block;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }

}

@media screen and (max-width: 768px) {
    .order-reg-card {
        padding: 30px 8px;
    }

    .switch-btns {
        flex-direction: column;
        width: 110px;
        margin-right: 5px;
    }

    .form-fields select {
        width: 100%;
    }

    .form-control {
        width: 100% !important;
    }

    .form-fields {
        flex-direction: column;
    }

    .register-label {
        width: 100%;
        margin-bottom: 5px;
    }

    .on-radio-btn,
    .off-radio-btn {
        width: 71px;
        height: 42px;
    }
    .mbile-top-nav-setting{
        display: block;
        }
        .content-h1 , .order-reg-h2{
            text-align: center;
        }
        .form-fields select{
            height: 48px;
        }
       
}